.body {
  max-width: 1280px;
  min-width: 300px;
  background-color: #000000;
  margin: 0 auto;
}

.page {
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

}

/*header*/
.header {
  width: calc(100% - 31.2%);
  border: none;
  border-bottom: 1px solid rgba(84, 84, 84, .7);;
}

@media (max-width: 1000px) {
  .header {
    width: calc(100% - 16%);
  }
}

@media (max-width: 700px) {
  .header {
    width: 100%;
  }
}

.page__header {
  margin: 0 auto;
}

.logo {
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.logo:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.logo__img {
  padding: 45px 0 36px;
  width: 143px;
  height: 34px;
}

@media (max-width: 700px) {
  .logo__img {
    padding: 29px 0 27px;
    width: 103.74px;
    height: 24.4px;
    margin-left: 8%;
  }
}

/*profile*/
.profile {
  font-family: 'Inter', Arial, sans-serif;
  width: calc(100% - 31%);
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
}

@media (max-width: 1000px) {
  .profile {
    width: calc(100% - 13%);
  }
}

@media (max-width: 700px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-bottom: 33px;
  }
}

.main__profile {
  margin: 38px auto 0;
}

@media (max-width: 700px) {
  .main__profile {
    margin: 42px auto 0;
}
}

.profile__container {
  display: flex;
}

@media (max-width: 700px) {
  .profile__container {
    flex-direction: column;
    align-items: center;
  }
}

.profile__img {
  border-radius: 50%;
  width: 120px;
}

.profile__info {
  margin-left: 30px;
}

@media (max-width: 700px) {
  .profile__info {
    margin-left: 0;
  }
}

.profile__title {
  color: #ffffff;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  margin: 18px 0 0;
  display: inline-block;
}

@media (max-width: 1000px) {
  .profile__title {
    font-size: 27px;
    margin: 22px 0 0;
    line-height: 42px;
  }
}

.profile__edit-button {
  background-image: url(./images/pen.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  margin-left: 14px;
  border: 1px solid #ffffff;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media (max-width: 1000px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 375px) {
  .profile__edit-button {
    margin-left: 3px;
  }
}

.profile__subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin: 7px 0 0;
}


@media (max-width: 700px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 2px 0 0;
  }
}

.profile__add-button {
  background-image: url(./images/plus.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-top: 35px;
  outline: none;
  border-radius: 2px;
  border: 2px solid #ffffff;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.profile__add-button:hover {
  opacity: .6;
}

@media (max-width: 700px) {
  .profile__add-button {
    background-image: url(./images/add2.svg);
    width: 282px;
  }
}

/*popup*/

.popup {
  display: none; 
  font-family: 'Inter', Arial, sans-serif;
  content: '';
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  padding: 0 5px;
  box-sizing: border-box;
}

.popup__container { 
  max-width: 430px;
  background-color: white;
  box-sizing: border-box;
  padding: 1% 2.7%;
  font-size: .9em;
  border-radius: 10px;
  margin: 185px auto 0;
  position: relative;
}

.popup__title {
  color: #000000;
  font-weight: 900;
  font-size: 1.7em;
}

.popup__button {
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;

}

.popup__button_type_save {
  background-color: black;
  color: white;
  padding: 4.1% 5%;
  width: 100%;
  margin-top: 13%;
  margin-bottom: 7%;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 2px;
}

.popup__button_type_save:hover {
  opacity: .8;
}

.popup__button_type_close {
  background-image: url(./images/Close_Icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 33px;
  background-color: transparent;
  position: absolute;
  top: -34px;
  left: 432px;
  padding: 1px 6px;
  outline: none;
}

.popup__button_type_close:hover {
  opacity: .6;
}
/*
@media (max-width: 530px) {
  .popup__button_type_close {
    top: -39px;
    left: 279px;
  }
}
*/
.popup__imput {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 12px 12px 0;
  margin-top: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__imput:focus {
  background-color: #ddd;
  outline: none;
}


/*elements*/
.elements {
  font-family: 'Inter', Arial, sans-serif;
  width: calc(100% - 30%);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  grid-column-gap: 18px;
  grid-row-gap: 19px;
  justify-content: center;
}

@media (max-width: 450px) {
  .elements {
    grid-row-gap: 18px;
  }
}

.main__elements {
  margin: 0 auto;
}

.elements__item {
  margin: 0 auto;
}

.elements__img {
  border-radius: 10px 10px 0 0; 
  object-fit: cover;
  object-position: center;
}

.elements__caption {
  box-sizing: border-box;
  background-color: white;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  border-radius: 0 0 10px 10px;
  min-height: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8%;
  margin-top: -3px;
}


.elements__like {
  background-image: url(./images/like.svg);
  background-size: cover;
  width: 21px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  margin-right: 8%;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}

.elements__like:hover {
  opacity: .6;
}

/*footer*/
.footer {
  font-family: 'Inter', Arial, sans-serif;
  width: calc(100% - 31%);
  padding-bottom: 60px;
}

@media (max-width: 1000px) {
  .footer {
    width: calc(100% - 13%);
  }
}

.main__footer {
  margin: 66px auto 0;
}

@media (max-width: 700px) {
  .main__footer {
    margin: 49px auto 0;
  }
}

.footer__content {
  color: #545454;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 700px) {
  .footer__content {
    font-size: 14px;
    line-height: 17px;
  }
}