
.profile__subtitle {
  max-width: 318px;
  min-height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  margin: 0;
}

@media (max-width: 740px) {
  .profile__subtitle {
      max-width: 100%;
      min-height: -webkit-max-content;
      min-height: -moz-max-content;
      min-height: max-content;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      margin: 0 auto;
  }
}
