.profile__subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin: 7px 0 0;
}


@media (max-width: 700px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 2px 0 0;
  }
}