  
.profile__title {
  max-width: 295px;
  min-height: 43px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  margin: 24px 0 0;
  color: #FFF;
}

@media (max-width: 740px) {
  .profile__title {
      min-width: 201px;
      min-height: 38px;
      text-align: center;
      margin-left: 29px;
      font-size: 27px;
      margin-top: 14px;
  }
}