.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 336px;
  margin-right: calc(100% - 636px);
}

@media (max-width: 740px) {
  .profile__info {
      max-width: 280px;
      min-height: 66px;
      margin: auto;
      margin-bottom: 35px;
  }
}